# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SharperBot.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jvigu\Desktop\c#\SharperBot\.idea\.idea.SharperBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
